# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.suo
*.user
